
.button-container {
    width: 100%;
    margin-top: 5%;
    padding-bottom: 5%;
    .refresh-btn {
        display: flex;
        float: right;
        padding-right: 20px;
        background: #0d1b2a;
        width: 10%;
        justify-content: center;
        border-radius: 10px;
        button {
          background: inherit;
          border-radius: 10px;
          width: 120px;
          border: none;
          height: 41px;
          font-size: 18px;
          line-height: 21px;
          align-items: center;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
          outline: none;
        }
      }
}

.dashboard-wrapper {
    width: 100%;
    height: auto;
    display: flex;

    .container {
        width: 50%;
        .dashboard {
            display: block;
            width: 100%;
            canvas {
                width: 100% !important;
                height: 100% !important;
                position: inherit;
            }
        }
    }

    .revenue-container {
        width: 50%;
        .revenue {
            display: block;
            canvas {
                height: 727px;
                position: inherit;
            }
        }
        .views {
            display: block;
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}
