<footer class="footer">
    <div class="container">
        <div class="row footer-row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="../../../assets/documents/projectkooda-terms-and-conditions.pdf" target="_blank">Terms
                            & Conditions</a></li>
                    <li><a href="../../../assets/documents/Kooda Privacy Policy Notice.pdf" target="_blank">Privacy
                            Policy</a></li>
                </ul>
            </nav>
            <div class="credits">
                <span class="copyright">
                    © 2021, by Ebbnair Pty. Ltd.
                </span>
            </div>
        </div>
    </div>
</footer>